* {
	box-sizing: border-box;
}

body {
	margin:0;
	padding:0;
}

p, li, div, span {
	color:#000000;
	font-family: Biko, serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	widows:1;
}

h1 {
	color:#000000;
	font-family: Biko, serif;
	font-size:45px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-align: center;
	padding-top: 50px;
	margin: 0;
}

h1.Middle{
	padding-top: 250px;
}

a {
	text-decoration: none;
}

button {
	outline:none;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

div.FullPageContainer {
	margin:auto;
	height:700px;
	width: 800px;
	position: relative;
	border: 1px solid;
	overflow: scroll;
}

div.NavBarContainer {
	padding: 0;
}

#optionsContainer{
	padding-top: 100px;
	width:32%;
	height:20px;
	margin:auto;
} #optionsButton1{
	float: left;
	width:47%;
	cursor:pointer;
	visibility: hidden;
} #optionsButton2{
	float:right;
	width:47%;
	cursor: pointer;
	visibility: hidden;
}

div.Padding{
	padding-bottom: 50px;
}

div.LCol{
	width:50%;
	float: left;
}

div.RCol{
	width:50%;
	float: left;
}

button.GoButton {
	margin: auto;
	display:block;
	background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: Biko;
    font-size: 16px;
    cursor: pointer;
 	box-shadow: 0 9px #999;
 	-webkit-transition-duration: 0s; /* Safari */
    transition-duration: 0s;
}

button.GoButton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button.MenuButton{
	background-color: #555555;
	color: white;
	border:none;
	padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-family: Biko;
    font-size: 14px;
    cursor: pointer;
    float:right;
}

button.MenuButton:hover{
	background-color: #DDDDDD;
	color:#333333;
}

button.BackButton{
	background-color: #555555;
	color: white;
	border:none;
	padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-family: Biko;
    font-size: 14px;
    cursor: pointer;
    float:right;
    /*visibility: hidden;*/
}

button.BackButton:hover{
	background-color: #DDDDDD;
	color:#333333;
}

button.TopicButton{
	background-color: #18b4e9;
	color: white;
	border:none;
	border-radius: 8px;
	padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-family: Biko;
    font-size: 20px;
    cursor: pointer;
    display:inline-block;
}

button.ChooseKeyButton{
	background-color: #18b4e9;
	color: white;
	border:none;
	border-radius: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 200px;
    text-align: center;
    text-decoration: none;
    font-family: Biko;
    font-size: 20px;
    cursor: pointer;
    display:inline-block;
}

.ChooseKeyButtons{
	padding-bottom: 5px;
	padding-top: 5px;
}

button.KeyButton, .blu-sc, .dom-7th, .maj-7th, .min-7th, .blu-bas, .iiviMaj{
	box-sizing: border-box;
	background-color: #18b4e9;
	color: white;
	border:none;
    text-align: center;
    text-decoration: none;
    font-family: Biko;
    font-size: 50px;
    cursor: pointer;
   	width:120px;
	height: 120px;
    margin: 20px;
    display:inline-block;
}

#BtnBluesSc-1 {
	background-color: #18b4e9;
}

button.Key7Button{
	box-sizing: border-box;
	background-color: #18b4e9;
	color: white;
	border:none;
    text-align: center;
    text-decoration: none;
    font-family: Biko;
    font-size: 30px;
    cursor: pointer;
   	width:90px;
	height: 90px;
    margin: 10px;
    display:inline-block;
}

button.Key7PButton{
	box-sizing: border-box;
	background-color: #18b4e9;
	color: white;
	border:none;
    text-align: center;
    text-decoration: none;
    font-family: Biko;
    font-size: 30px;
    cursor: pointer;
   	width:130px;
	height: 90px;
    margin: 10px;
    display:inline-block;
}

table.KeyTable{
	margin:auto;
	padding-top: 10px;
}

table.CheckBoxes{
	margin:auto;
	padding-top: 50px;
	padding-bottom: 10px;
}

td.CheckBoxes{
	box-sizing: border-box;
	background-color: #e6faff;
	color: white;
	border:none;
	border-color: black;
    text-align: center;
    text-decoration: none;
    font-family: Biko;
    font-size: 50px;
   	width:120px;
	height: 120px;
    margin: 20px;
    display:inline-block;
}

div.TextContainer {
	padding: 100px;
}

div.Instructions {
	padding-top: 70px;
	font-size: 30px;
	color: #18b4e9;
	text-align: center;
}

div.InstructionsImprov {
	padding-top:20px;
	padding-bottom: 20px;
	font-size: 30px;
	color: #18b4e9;
	text-align: center;
} div.InstructionsScales {
	width:60%;
	margin:auto;
	font-size: 15px;
	color: #555555;
	text-align: justify;
}

.centerText{
	text-align: center;
}

div.TitleText {
	padding-top: 40px;
	text-align:center;
}

span.TitleText-01 {
	color:#18b4e9;
	font-family: Helvetica, sans-serif;
	font-size:90px;
	font-style:normal;
	font-weight:100;
}

span.TitleText-02 {
	font-family: Helvetica, sans-serif;
	font-size:90px;
	font-style:normal;
	font-weight:100;
}

img.TitleLogo {
	height:117px;
	width:117px;
	position: relative;
	top: 15px;
	right: 10px;
}
div.TitleLogo {
	text-align:center;
}

div.TopicButtons{
	padding:20px;
	border-bottom: .25px solid;
	border-color: #AAAAAA;
}

div.TopicHeadings{
	padding-bottom: 5px;
}

div.ColHeadings{
	text-align: center;
	font-size: 25px;
}

div.Label2Bars-1{
	font-size: 25px;
	position: absolute;
	top: 200px;
	left: 230px;
}

div.Label2Bars-2{
	font-size: 25px;
	position: absolute;
	top: 200px;
	left: 585px;
}

span.Acc01{
	font-size: 40px;
	color: white;
}

img.Scales{
	padding-top:100px;
	margin:auto;
	display: block;
}

img.Improv12Bars{
	height:300px;
	margin:auto;
	display: block;
}

span.Check{
	font-size: 90px;
	color:green;
}

span.Cross{
	font-size:90px;
	color: red;
}

div.scaleType{
	visibility: hidden;
}

div.progType{
	visibility: hidden;
}

div.scaleKey{
	visibility: hidden;
}

.soundFile{
	visibility: hidden;
}

#detector{
	display: inline-block;
	position: relative;
	left: 690px;
	top: 65px;
	border: 1px solid;
	border-color: #cccccc;
	color: #ff0000;
}

.pitch{
	text-align: center;
}

.note{
	text-align: center;
}

#note{
	font-size: 50px;
}

#flat { display: none; }
#sharp { display: none; }
.flat #flat { display: inline; }
.sharp #sharp { display: inline; }

#detune{
	text-align: center;
}

div.prevPage{
	visibility: hidden;
}

div.nextPage{
	visibility: hidden;
}

.movingBar{
	position: relative;
	left:40px;
	top:70px;
	background-color: rgba(255,0,0,0.5);
	padding: 20px;
}

.scaleImg{
	padding: 0px;
}

#form1{
	padding-top: 100px;
}

#voicing1{
	font-size: 30px;
	position: absolute;
	top: 130px;
	left: 125px;
}#voicing2{
	font-size: 30px;
	position: absolute;
	top:130px;
	left: 300px;
}#voicing3{
	font-size: 30px;
	position: absolute;
	top:130px;
	left: 475px;
}#voicing4{
	font-size: 30px;
	position: absolute;
	top:130px;
	left: 650px;
}#voicing5{
	font-size: 30px;
	position: absolute;
	top:230px;
	left: 125px;
}#voicing6{
	font-size: 30px;
	position: absolute;
	top:230px;
	left: 300px;
}#voicing7{
	font-size: 30px;
	position: absolute;
	top:230px;
	left: 475px;
}#voicing8{
	font-size: 30px;
	position: absolute;
	top:230px;
	left: 650px;
}#voicing9{
	font-size: 30px;
	position: absolute;
	top:330px;
	left: 125px;
}#voicing10{
	font-size: 30px;
	position: absolute;
	top:330px;
	left: 300px;
}#voicing11{
	font-size: 30px;
	position: absolute;
	top:330px;
	left: 475px;
}#voicing12{
	font-size: 30px;
	position: absolute;
	top:330px;
	left: 650px;
}

a.extLink:visited {
	color:blue;
}a.extLink:hover {
	color:red;
}